swagger: '2.0'
info:
  title: Payoneer Mobile API
  description: Swagger specification for https://mobileapi.payoneer.com
  version: '1.0.0'
schemes:
  - https
host: mobileapi.payoneer.com
consumes:
  - application/json
  - application/xml
produces:
  - application/json
  - application/xml
paths:
  '/User/Login':
    post:
      tags:
        - User
      summary: User login
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/LoginRequest'
      responses:
        200:
          description: User login response
          schema:
            $ref: '#/definitions/LoginResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-Login
  '/User/OrnLink':
    post:
      tags:
        - User
      summary: User ORN link
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrnRequest'
      responses:
        200:
          description: User ORN link response
          schema:
            $ref: '#/definitions/OrnResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-OrnLink
  '/User/GetUserSettings':
    post:
      tags:
        - User
      summary: Get User Settings
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetUserSettingsRequest'
      responses:
        200:
          description: Get User Settings response
          schema:
            $ref: '#/definitions/GetUserSettingsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-GetUserSettings
  '/User/SaveUserSettings':
    post:
      tags:
        - User
      summary: Save User Settings
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/SaveUserSettingsRequest'
      responses:
        200:
          description: Save User Settings response
          schema:
            $ref: '#/definitions/GetUserSettingsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-SaveUserSettings
  '/User/Logout':
    post:
      tags:
        - User
      summary: User Logout
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/LogoutRequest'
      responses:
        200:
          description: User Logout response
          schema:
            $ref: '#/definitions/LogoutResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-Logout
  '/Account/Account':
    post:
      tags:
        - Account
      summary: Account Details
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/AccountRequest'
      responses:
        200:
          description: Account Details response
          schema:
            $ref: '#/definitions/AccountResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Account-Account
  '/Account/PaymentMethodDetails':
    post:
      tags:
        - Account
      summary: Payment Method Details
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/PaymentMethodDetailsRequest'
      responses:
        200:
          description: Payment Method Details response
          schema:
            $ref: '#/definitions/PaymentMethodDetailsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Account-PaymentMethodDetails
  '/Account/BillingAddress':
    post:
      tags:
        - Account
      summary: Billing Address
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/BillingAddressRequest'
      responses:
        200:
          description: Billing Address response
          schema:
            $ref: '#/definitions/BillingAddressResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Account-BillingAddress
  '/Account/CurrenciesGet':
    post:
      tags:
        - Account
      summary: Currencies
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/CurrenciesGetRequest'
      responses:
        200:
          description: Currencies response
          schema:
            $ref: '#/definitions/CurrenciesGetResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Account-CurrenciesGet
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeRefuseSms
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeCancel
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeSms
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeGet
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeAuthenticate
  '/Transaction/Transactions':
    post:
      tags:
        - Transaction
      summary: Transactions
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/TransactionsListRequest'
      responses:
        200:
          description: Transactions response
          schema:
            $ref: '#/definitions/TransactionsListResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Transaction-Transactions
  '/Transaction/PreAuthTransactions':
    post:
      tags:
        - Transaction
      summary: Pre-Authorization Transactions
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/PreAuthTransactionsRequest'
      responses:
        200:
          description: Pre-Authorization Transactions response
          schema:
            $ref: '#/definitions/PreAuthTransactionsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Transaction-PreAuthTransactions
  '/Transaction/TransactionDetails':
    post:
      tags:
        - Transaction
      summary: Transaction Details
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/TransactionDetailsRequest'
      responses:
        200:
          description: Transaction Details response
          schema:
            $ref: '#/definitions/TransactionDetailsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Transaction-TransactionDetails
  '/Balance/Balance':
    post:
      tags:
        - Balance
      summary: Balance
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/BalanceRequest'
      responses:
        200:
          description: Balance response
          schema:
            $ref: '#/definitions/BalanceResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Balance-Balance
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Payment-Payments
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Payment-PaymentDetails
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Notification-RegisterPushToken
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Notification-OpenPushNotification
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Withdrawal-Init
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Withdrawal-Validate
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Withdrawal-CheckSecurityAnswers
  '/App/AppStart':
    post:
      tags:
        - App
      summary: App Start
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppStartRequest'
      responses:
        200:
          description: Transaction Details response
          schema:
            $ref: '#/definitions/AppStartResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-AppStart
  '/App/SignDocuments':
    post:
      tags:
        - App
      summary: Sign Documents
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/SignDocumentsRequest'
      responses:
        200:
          description: Sign Documents response
          schema:
            $ref: '#/definitions/SignDocumentsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-SignDocuments
  '/App/GetSignDocuments':
    post:
      tags:
        - App
      summary: Get Sign Documents
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSignDocumentsRequest'
      responses:
        200:
          description: Get Sign Documents response
          schema:
            $ref: '#/definitions/GetSignDocumentsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-GetSignDocuments
  '/App/Resources':
    post:
      tags:
        - App
      summary: Resources
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourcesRequest'
      responses:
        200:
          description: Resources response
          schema:
            $ref: '#/definitions/ResourcesResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-Resources
  '/App/ResourceGet':
    post:
      tags:
        - App
      summary: Get Resource
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourceGetRequest'
      responses:
        200:
          description: Get Resource response
          schema:
            $ref: '#/definitions/ResourceGetResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-ResourceGet
definitions:
  LoginRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LoginRequest
    type: object
    required:
      - Password
      - Username
      - MobileAppId
      - AppVersion
      - DeviceId
    properties:
      Password:
        type: string
      Username:
        type: string
      MobileAppId:
        type: integer
        description: 1 means iOS, 2 means Android.
        enum:
          - 1
          - 2
      AppVersion:
        type: string
        default: 3.33.1
      ExtendedLoginData:
        type: string
        description: (Assumption) Captcha code
      LanguageCode:
        type: integer
        description: 1 means ENG.
      UTCTimeZone:
        type: integer
      Currency:
        type: string
      Timestamp:
        type: string
        format: date
      MobilePlatformType:
        type: integer
      DeviceProperties:
        $ref: '#/definitions/DeviceProperties'
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  LoginResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LoginResponse
    type: object
    properties:
      FirstName:
        type: string
      LastName:
        type: string
      RAFLink:
        type: string
      RAFLinkMenu:
        type: string
      Email:
        type: string
      LocalCurrency:
        type: string
      DisplayTC:
        type: boolean
      Permissions:
        type: array
        items:
          $ref: '#/definitions/AccountPermission'
      ORNLink:
        type: string
      ResponseCode:
        type: integer
      Description:
        type: string
      RiskChallenge:
        $ref: '#/definitions/ChallengeResponse'
      MobileSessionToken:
        type: string
  OrnRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=OrnRequest
    type: object
    required:
      - MobileAppId
      - DeviceId
    properties:
      LanguageCode:
        type: integer
        description: 1 means ENG.
      MobileAppId:
        type: integer
        description: 1 means iOS, 2 means Android.
        enum:
          - 1
          - 2
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  OrnResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=OrnResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      ORNLink:
        type: string
  GetUserSettingsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetUserSettingsRequest
    type: object
    required:
      - DeviceId
    properties:
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  GetUserSettingsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetUserSettingsResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      Settings:
        $ref: '#/definitions/UserSettings'
  SaveUserSettingsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SaveUserSettingsRequest
    type: object
    required:
      - DeviceId
      - Settings
    properties:
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
      Settings:
        $ref: '#/definitions/UserSettings'
  LogoutRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LogoutRequest
    type: object
    required:
      - DeviceId
    properties:
      Type:
        type: integer
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  LogoutResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LogoutResponse
    type: object
    properties:
      ResponseCode:
        type: integer
  AccountRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AccountRequest
    type: object
    required:
      - DeviceId
    properties:
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  AccountResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AccountResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      PaymentMethods:
        type: array
        items:
          $ref: '#/definitions/PaymentMethodResponse'
  PaymentMethodDetailsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentMethodDetailsRequest
    type: object
    required:
      - MobileAccountId
      - DeviceId
    properties:
      MobileAccountId:
        type: integer
      Currency:
        type: string
      LatestBalance:
        type: boolean
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  PaymentMethodDetailsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentMethodDetailsResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      Balance:
        $ref: '#/definitions/PaymentMethodBalance'
      RecentPayments:
        type: array
        items:
          $ref: '#/definitions/PaymentHeaderResponse'
      LastTransactions:
        type: array
        items:
          $ref: '#/definitions/TransactionHeaderResponse'
  BillingAddressRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BillingAddressRequest
    type: object
    required:
      - MobileAccountId
      - DeviceId
    properties:
      MobileAccountId:
        type: integer
      LanguageCode:
        type: integer
        description: 1 means ENG.
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  BillingAddressResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BillingAddressResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      BillingAddress:
        $ref: '#/definitions/BillingAddress'
  CurrenciesGetRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=CurrenciesGetRequest
    type: object
    required:
      - DeviceId
    properties:
      Currency:
        type: string
      LanguageCode:
        type: integer
        description: 1 means ENG.
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  CurrenciesGetResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=CurrenciesGetResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      Currencies:
        type: array
        items:
          $ref: '#/definitions/Currency'
  #TODO: Stuff
  TransactionsListRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionsListRequest
    type: object
    required:
      - MobileAccountId
      - FromDate
      - ToDate
      - DeviceId
    properties:
      MobileAccountId:
        type: integer
      FromDate:
        type: string
        format: date
      ToDate:
        type: string
        format: date
      LanguageCode:
        type: integer
        description: 1 means ENG.
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  TransactionsListResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionsListResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      TransactionHeadersList:
        type: array
        items:
          $ref: '#/definitions/TransactionHeaderResponse'
  PreAuthTransactionsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PreAuthTransactionsRequest
    type: object
    required:
      - MobileAccountId
      - FromDate
      - ToDate
      - DeviceId
    properties:
      MobileAccountId:
        type: integer
      FromDate:
        type: string
        format: date
      ToDate:
        type: string
        format: date
      LanguageCode:
        type: integer
        description: 1 means ENG.
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  PreAuthTransactionsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PreAuthTransactionsResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      PreAuthTransactionHeadersList:
        type: array
        items:
          $ref: '#/definitions/TransactionHeaderResponse'
  TransactionDetailsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionDetailsRequest
    type: object
    required:
      - MobileAccountId
      - TransactionId
      - DeviceId
    properties:
      MobileAccountId:
        type: integer
      TransactionId:
        type: string
      LanguageCode:
        type: integer
        description: 1 means ENG.
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  TransactionDetailsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionDetailsResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      Details:
        $ref: '#/definitions/TransactionDetails'
  BalanceRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BalanceRequest
    type: object
    required:
      - MobileAccountId
      - DeviceId
    properties:
      MobileAccountId:
        type: integer
      Currency:
        type: string
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  BalanceResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BalanceResponse
    type: object
    properties:
      ResponseDescription:
        type: string
      ResponseCode:
        type: integer
      AccountBalance:
        type: string
      AccountBalanceInCardCurrency:
        type: string
      CardBalance:
        type: string
      CardBalanceInCardCurrency:
        type: string
      CardCurrency:
        type: string
      LastProcessed:
        type: string
      RequestedCurrency:
        type: string
  #TODO: Other stuff
  AppStartRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AppStartRequest
    type: object
    required:
      - AppVersion
      - MobileAppId
      - IsFirstAppStart
      - DeviceId
    properties:
      MobileAppId:
        type: integer
        description: 1 means iOS, 2 means Android.
        enum:
          - 1
          - 2
      AppVersion:
        type: string
        default: 3.33.1
      LanguageCode:
        type: integer
        description: 1 means ENG.
      MobilePlatformType:
        type: integer
      PartnerId:
        type: integer
      Timestamp:
        type: string
        format: date
      IsFirstAppStart:
        type: boolean
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  AppStartResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AppStartResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      Description:
        type: string
      Resources:
        $ref: '#/definitions/Resources'
      PushAPIKeys:
        $ref: '#/definitions/PushCredentials'
      DisplayTC:
        type: boolean
      Languages:
        type: array
        items:
          $ref: '#/definitions/SupportedLanguageResponse'
      Currencies:
        type: array
        items:
          type: string
      DeviceToken:
        type: string
  SignDocumentsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SignDocumentsRequest
    type: object
    required:
      - IsFirstAppStart
      - DeviceId
    properties:
      IsFirstAppStart:
        type: boolean
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  SignDocumentsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SignDocumentsResponse
    type: object
    properties:
      ResponseCode:
        type: integer
  GetSignDocumentsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetSignDocumentsRequest
    type: object
    required:
      - IsFirstAppStart
      - DeviceId
    properties:
      LanguageCode:
        type: integer
        description: 1 means ENG.
      IsFirstAppStart:
        type: boolean
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  GetSignDocumentsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetSignDocumentsResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      Documents:
        type: array
        items:
          $ref: '#/definitions/SigningDocument'
  ResourcesRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ResourcesRequest
    type: object
    required:
      - DeviceId
    properties:
      MobileAppId:
        type: integer
        description: 1 means iOS, 2 means Android.
        enum:
          - 1
          - 2
      Timestamp:
        type: string
        format: date
      LanguageCode:
        type: integer
        description: 1 means ENG.
      ISOCode:
        type: string
      PartnerId:
        type: integer
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  ResourcesResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ResourcesResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      Resources:
        $ref: '#/definitions/Resources'
      LanguageCode:
        type: integer
      ISOCode:
        type: string
      IsRTL:
        type: boolean
  ResourceGetRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ResourceGetRequest
    type: object
    required:
      - DeviceId
    properties:
      LanguageCode:
        type: integer
        description: 1 means ENG.
      MobileAppId:
        type: integer
        description: 1 means iOS, 2 means Android.
        enum:
          - 1
          - 2
      ResourceName:
        type: string
      DeviceId:
        type: string
        pattern: '[0-9a-f]{32}'
      MAC:
        type: string
  ResourceGetResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ResourceGetResponse
    type: object
    properties:
      ResponseCode:
        type: integer
      ResourceValue:
        type: string
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  SigningDocument:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=Resources
    type: object
    properties:
      DocumentURL:
        type: string
      DocumentTitle:
        type: string
  Resources:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=Resources
    type: object
    properties:
      List:
        type: array
        items:
          $ref: '#/definitions/MobileResource'
      TimeStamp:
        type: string
  MobileResource:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=MobileResource
    type: object
    properties:
      Name:
        type: string
      ResourceValue:
        type: string
      Type:
        type: integer
  PushCredentials:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PushCredentials
    type: object
    properties:
      AppKey:
        type: string
      AppSecret:
        type: string
  SupportedLanguageResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SupportedLanguageResponse
    type: object
    properties:
      LanguageCode:
        type: integer
        description: 1 means ENG.
      DisplayName:
        type: string
      IsRTL:
        type: boolean
      ISOCode:
        type: string
  TransactionDetails:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionDetails
    type: object
    properties:
      TransactionNumber:
        $ref: '#/definitions/LabelValuePair'
      TransactionDate:
        $ref: '#/definitions/LabelValuePair'
      AmountForeignCurrency:
        $ref: '#/definitions/LabelValuePair'
      TransactionAmount:
        $ref: '#/definitions/LabelValuePair'
      ExtraDetails:
        type: array
        items:
          $ref: '#/definitions/LabelValuePair'
  LabelValuePair:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LabelValuePair
    type: object
    properties:
      Label:
        type: string
      Value:
        type: string
  PaymentMethodResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentMethodResponse
    type: object
    properties:
      MobileAccountId:
        type: integer
      Type:
        type: integer
      _PrimaryField:
        type: string
      PrimaryField:
        type: string
      SecondaryField:
        type: string
      DisplayNameResource:
        type: string
      UseSecondaryField:
        type: boolean
      Status:
        type: integer
      Currency:
        type: string
      Balance:
        $ref: '#/definitions/PaymentMethodBalance'
      StatusCategory:
        type: integer
      AllowTransactions:
        type: boolean
  TransactionHeaderResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionHeaderResponse
    type: object
    properties:
      TransactionId:
        type: string
      Date:
        type: string
      Description:
        type: string
      Amount:
        type: string
      TransactionStatusCategory:
        type: integer
  PaymentHeaderResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentHeaderResponse
    type: object
    properties:
      PaymentId:
        type: string
      Date:
        type: string
      Loader:
        type: string
      Amount:
        type: string
      PaymentStatusCategory:
        type: integer
  Currency:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=Currency
    type: object
    properties:
      Code:
        type: string
      Display:
        type: string
      Location:
        type: integer
  BillingAddress:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BillingAddress
    type: object
    properties:
      Address1:
        type: string
      Address2:
        type: string
      City:
        type: string
      Zip:
        type: string
      State:
        type: string
      Country:
        type: string
      Phone:
        type: string
  PaymentMethodBalance:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentMethodBalance
    type: object
    properties:
      QuoteResponseCode:
        type: integer
      QuoteResponseDescription:
        type: string
      Currency:
        type: string
      CardBalance:
        type: string
      AccountBalance:
        type: string
      LastProcessed:
        type: string
  DeviceProperties:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=DeviceProperties
    type: object
    properties:
      DevicePrint:
        type: string
      DeviceToken:
        type: string
      DeviceTokenFSO:
        type: string
      HttpAccept:
        type: string
      HttpAcceptEncoding:
        type: string
      HttpAcceptLanguage:
        type: string
      HttpReferer:
        type: string
  AccountPermission:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AccountPermission
    type: object
    properties:
      PerId:
        type: integer
      PerVal:
        type: boolean
  ChallengeResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ChallengeResponse
    type: object
    properties:
      ChallengeMethod:
        type: integer
      IsLastAttempt:
        type: boolean
  UserSettings:
    type: object
    additionalProperties:
      type: string
