swagger: '2.0'
info:
  title: Payoneer Mobile API
  description: Swagger specification for https://mobileapi.payoneer.com
  version: '0.9.2'
schemes:
  - https
host: mobileapi.payoneer.com
consumes:
  - application/json
  - application/xml
produces:
  - application/json
  - application/xml
paths:
  '/User/Login':
    post:
      tags:
        - User
      summary: User Login
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/LoginRequest'
      responses:
        200:
          description: User login response
          schema:
            $ref: '#/definitions/LoginResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-Login
  '/User/OrnLink':
    post:
      tags:
        - User
      summary: User ORN link
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrnRequest'
      responses:
        200:
          description: User ORN link response
          schema:
            $ref: '#/definitions/OrnResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-OrnLink
  '/User/GetUserSettings':
    post:
      tags:
        - User
      summary: Get User Settings
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetUserSettingsRequest'
      responses:
        200:
          description: Get User Settings response
          schema:
            $ref: '#/definitions/GetUserSettingsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-GetUserSettings
  '/User/SaveUserSettings':
    post:
      tags:
        - User
      summary: Save User Settings
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/SaveUserSettingsRequest'
      responses:
        200:
          description: Save User Settings response
          schema:
            $ref: '#/definitions/GetUserSettingsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-SaveUserSettings
  '/User/Logout':
    post:
      tags:
        - User
      summary: User Logout
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/LogoutRequest'
      responses:
        200:
          description: User Logout response
          schema:
            $ref: '#/definitions/LogoutResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-User-Logout
  '/Account/Account':
    post:
      tags:
        - Account
      summary: Account Details
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/AccountRequest'
      responses:
        200:
          description: Account Details response
          schema:
            $ref: '#/definitions/AccountResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Account-Account
  '/Account/PaymentMethodDetails':
    post:
      tags:
        - Account
      summary: Payment Method Details
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/PaymentMethodDetailsRequest'
      responses:
        200:
          description: Payment Method Details response
          schema:
            $ref: '#/definitions/PaymentMethodDetailsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Account-PaymentMethodDetails
  '/Account/BillingAddress':
    post:
      tags:
        - Account
      summary: Billing Address
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/BillingAddressRequest'
      responses:
        200:
          description: Billing Address response
          schema:
            $ref: '#/definitions/BillingAddressResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Account-BillingAddress
  '/Account/CurrenciesGet':
    post:
      tags:
        - Account
      summary: Currencies
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/CurrenciesGetRequest'
      responses:
        200:
          description: Currencies response
          schema:
            $ref: '#/definitions/CurrenciesGetResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Account-CurrenciesGet
  '/Authentication/ChallengeRefuseSms':
    post:
      tags:
        - Authentication
      summary: ChallengeRefuseSms
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/BaseRequest'
      responses:
        200:
          description: ChallengeRefuseSms response
          schema:
            $ref: '#/definitions/BaseResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeRefuseSms
  '/Authentication/ChallengeCancel':
    post:
      tags:
        - Authentication
      summary: ChallengeCancel
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/BaseRequest'
      responses:
        200:
          description: ChallengeCancel response
          schema:
            $ref: '#/definitions/BaseResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeCancel
  '/Authentication/ChallengeSms':
    post:
      tags:
        - Authentication
      summary: ChallengeSms
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/SmsChallengeRequest'
      responses:
        200:
          description: ChallengeSms response
          schema:
            $ref: '#/definitions/SmsChallengeResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeSms
  '/Authentication/ChallengeGet':
    post:
      tags:
        - Authentication
      summary: ChallengeGet
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetChallengeRequest'
      responses:
        200:
          description: ChallengeGet response
          schema:
            $ref: '#/definitions/GetChallengeResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeGet
  '/Authentication/ChallengeAuthenticate':
    post:
      tags:
        - Authentication
      summary: ChallengeAuthenticate
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChallengeAuthenticateRequest'
      responses:
        200:
          description: ChallengeAuthenticate response
          schema:
            $ref: '#/definitions/ChallengeAuthenticateResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Authentication-ChallengeAuthenticate
  '/Transaction/Transactions':
    post:
      tags:
        - Transaction
      summary: Transactions
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/TransactionsListRequest'
      responses:
        200:
          description: Transactions response
          schema:
            $ref: '#/definitions/TransactionsListResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Transaction-Transactions
  '/Transaction/PreAuthTransactions':
    post:
      tags:
        - Transaction
      summary: Pre-Authorization Transactions
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/PreAuthTransactionsRequest'
      responses:
        200:
          description: Pre-Authorization Transactions response
          schema:
            $ref: '#/definitions/PreAuthTransactionsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Transaction-PreAuthTransactions
  '/Transaction/TransactionDetails':
    post:
      tags:
        - Transaction
      summary: Transaction Details
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/TransactionDetailsRequest'
      responses:
        200:
          description: Transaction Details response
          schema:
            $ref: '#/definitions/TransactionDetailsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Transaction-TransactionDetails
  '/Balance/Balance':
    post:
      tags:
        - Balance
      summary: Balance
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/BalanceRequest'
      responses:
        200:
          description: Balance response
          schema:
            $ref: '#/definitions/BalanceResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-Balance-Balance
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Payment-Payments
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Payment-PaymentDetails
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Notification-RegisterPushToken
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Notification-OpenPushNotification
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Withdrawal-Init
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Withdrawal-Validate
  #TODO: https://mobileapi.payoneer.com/Help/Api/POST-Withdrawal-CheckSecurityAnswers
  '/App/AppStart':
    post:
      tags:
        - App
      summary: App Start
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/AppStartRequest'
      responses:
        200:
          description: Transaction Details response
          schema:
            $ref: '#/definitions/AppStartResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-AppStart
  '/App/SignDocuments':
    post:
      tags:
        - App
      summary: Sign Documents
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/SignDocumentsRequest'
      responses:
        200:
          description: Sign Documents response
          schema:
            $ref: '#/definitions/SignDocumentsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-SignDocuments
  '/App/GetSignDocuments':
    post:
      tags:
        - App
      summary: Get Sign Documents
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSignDocumentsRequest'
      responses:
        200:
          description: Get Sign Documents response
          schema:
            $ref: '#/definitions/GetSignDocumentsResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-GetSignDocuments
  '/App/Resources':
    post:
      tags:
        - App
      summary: Resources
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourcesRequest'
      responses:
        200:
          description: Resources response
          schema:
            $ref: '#/definitions/ResourcesResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-Resources
  '/App/ResourceGet':
    post:
      tags:
        - App
      summary: Get Resource
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResourceGetRequest'
      responses:
        200:
          description: Get Resource response
          schema:
            $ref: '#/definitions/ResourceGetResponse'
      externalDocs:
        url: https://mobileapi.payoneer.com/Help/Api/POST-App-ResourceGet
definitions:
  BaseRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BaseRequest
    type: object
    required:
      - DeviceId
    properties:
      DeviceId:
        $ref: '#/definitions/DeviceId'
      MAC:
        type: string
  BaseResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BaseResponse
    type: object
    properties:
      ResponseCode:
        type: integer
        description: 1 - Success; 34 - (Assumption) Terms&Conditions not agreed;
  LoginRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LoginRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - Password
          - Username
          - MobileAppId
          - AppVersion
        properties:
          Password:
            type: string
          Username:
            type: string
          MobileAppId:
            $ref: '#/definitions/MobileAppId'
          AppVersion:
            $ref: '#/definitions/AppVersion'
          ExtendedLoginData:
            type: string
            description: (Assumption) Captcha code
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
          UTCTimeZone:
            type: integer
          Currency:
            type: string
          Timestamp:
            type: string
            format: date
          MobilePlatformType:
            type: integer
          DeviceProperties:
            $ref: '#/definitions/DeviceProperties'
  LoginResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LoginResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          FirstName:
            type: string
          LastName:
            type: string
          RAFLink:
            type: string
          RAFLinkMenu:
            type: string
          Email:
            type: string
          LocalCurrency:
            type: string
          DisplayTC:
            type: boolean
          Permissions:
            type: array
            items:
              $ref: '#/definitions/AccountPermission'
          ORNLink:
            type: string
          Description:
            type: string
          RiskChallenge:
            $ref: '#/definitions/ChallengeResponse'
          MobileSessionToken:
            type: string
  OrnRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=OrnRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - MobileAppId
        properties:
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
          MobileAppId:
            $ref: '#/definitions/MobileAppId'
  OrnResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=OrnResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          ORNLink:
            type: string
  GetUserSettingsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetUserSettingsRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
  GetUserSettingsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetUserSettingsResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          Settings:
            $ref: '#/definitions/UserSettings'
  SaveUserSettingsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SaveUserSettingsRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - Settings
        properties:
          Settings:
            $ref: '#/definitions/UserSettings'
  LogoutRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LogoutRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - Type
        properties:
          Type:
            type: integer
            default: 0
  LogoutResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LogoutResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
  AccountRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AccountRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
  AccountResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AccountResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          PaymentMethods:
            type: array
            items:
              $ref: '#/definitions/PaymentMethodResponse'
  PaymentMethodDetailsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentMethodDetailsRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - MobileAccountId
        properties:
          MobileAccountId:
            type: integer
          Currency:
            type: string
          LatestBalance:
            type: boolean
  PaymentMethodDetailsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentMethodDetailsResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          Balance:
            $ref: '#/definitions/PaymentMethodBalance'
          RecentPayments:
            type: array
            items:
              $ref: '#/definitions/PaymentHeaderResponse'
          LastTransactions:
            type: array
            items:
              $ref: '#/definitions/TransactionHeaderResponse'
  BillingAddressRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BillingAddressRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - MobileAccountId
        properties:
          MobileAccountId:
            type: integer
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
  BillingAddressResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BillingAddressResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          BillingAddress:
            $ref: '#/definitions/BillingAddress'
  CurrenciesGetRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=CurrenciesGetRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        properties:
          Currency:
            type: string
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
  CurrenciesGetResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=CurrenciesGetResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          Currencies:
            type: array
            items:
              $ref: '#/definitions/Currency'
  SmsChallengeRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SmsChallengeRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        properties:
          PhoneNumberId:
            type: integer
  SmsChallengeResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SmsChallengeResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
  GetChallengeRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetChallengeRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
  GetChallengeResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetChallengeResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          RiskChallenge:
            $ref: '#/definitions/RiskChallenge'
  ChallengeAuthenticateRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ChallengeAuthenticateRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        properties:
          SmsCode:
            type: string
          SecurityAnswers:
            $ref: '#/definitions/SecurityAnswers'
  ChallengeAuthenticateResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ChallengeAuthenticateResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          Description:
            type: string
          IsLastAttempt:
            type: boolean
          EventId:
            type: integer
          ActionResponse:
            $ref: '#/definitions/BaseResponse'
  TransactionsListRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionsListRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - MobileAccountId
          - FromDate
          - ToDate
        properties:
          MobileAccountId:
            type: integer
          FromDate:
            type: string
            format: date
          ToDate:
            type: string
            format: date
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
  TransactionsListResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionsListResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          TransactionHeadersList:
            type: array
            items:
              $ref: '#/definitions/TransactionHeaderResponse'
  PreAuthTransactionsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PreAuthTransactionsRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - MobileAccountId
          - FromDate
          - ToDate
        properties:
          MobileAccountId:
            type: integer
          FromDate:
            type: string
            format: date
          ToDate:
            type: string
            format: date
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
  PreAuthTransactionsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PreAuthTransactionsResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          PreAuthTransactionHeadersList:
            type: array
            items:
              $ref: '#/definitions/TransactionHeaderResponse'
  TransactionDetailsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionDetailsRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - MobileAccountId
          - TransactionId
        properties:
          MobileAccountId:
            type: integer
          TransactionId:
            type: string
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
  TransactionDetailsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionDetailsResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          Details:
            $ref: '#/definitions/TransactionDetails'
  BalanceRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BalanceRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - MobileAccountId
        properties:
          MobileAccountId:
            type: integer
          Currency:
            type: string
  BalanceResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BalanceResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          ResponseDescription:
            type: string
          AccountBalance:
            type: string
          AccountBalanceInCardCurrency:
            type: string
          CardBalance:
            type: string
          CardBalanceInCardCurrency:
            type: string
          CardCurrency:
            type: string
          LastProcessed:
            type: string
          RequestedCurrency:
            type: string
  #TODO: Other stuff
  AppStartRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AppStartRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - AppVersion
          - MobileAppId
          - IsFirstAppStart
        properties:
          MobileAppId:
            $ref: '#/definitions/MobileAppId'
          AppVersion:
            $ref: '#/definitions/AppVersion'
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
          MobilePlatformType:
            type: integer
          PartnerId:
            type: integer
          Timestamp:
            type: string
            format: date
          IsFirstAppStart:
            type: boolean
  AppStartResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AppStartResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          Description:
            type: string
          Resources:
            $ref: '#/definitions/Resources'
          PushAPIKeys:
            $ref: '#/definitions/PushCredentials'
          DisplayTC:
            type: boolean
          Languages:
            type: array
            items:
              $ref: '#/definitions/SupportedLanguageResponse'
          Currencies:
            type: array
            items:
              type: string
          DeviceToken:
            type: string
  SignDocumentsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SignDocumentsRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - IsFirstAppStart
        properties:
          IsFirstAppStart:
            type: boolean
  SignDocumentsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SignDocumentsResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
  GetSignDocumentsRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetSignDocumentsRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        required:
          - IsFirstAppStart
        properties:
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
          IsFirstAppStart:
            type: boolean
  GetSignDocumentsResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=GetSignDocumentsResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          Documents:
            type: array
            items:
              $ref: '#/definitions/SigningDocument'
  ResourcesRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ResourcesRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        properties:
          MobileAppId:
            $ref: '#/definitions/MobileAppId'
          Timestamp:
            type: string
            format: date
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
          ISOCode:
            type: string
          PartnerId:
            type: integer
  ResourcesResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ResourcesResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          Resources:
            $ref: '#/definitions/Resources'
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
          ISOCode:
            type: string
          IsRTL:
            type: boolean
  ResourceGetRequest:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ResourceGetRequest
    allOf:
      - $ref: '#/definitions/BaseRequest'
      - type: object
        properties:
          LanguageCode:
            $ref: '#/definitions/LanguageCode'
          MobileAppId:
            $ref: '#/definitions/MobileAppId'
          ResourceName:
            type: string
  ResourceGetResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ResourceGetResponse
    allOf:
      - $ref: '#/definitions/BaseResponse'
      - type: object
        properties:
          ResourceValue:
            type: string
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  #TODO: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=
  SecurityAnswers:
    type: object
    additionalProperties:
      type: string
  RiskChallenge:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=RiskChallenge
    type: object
    properties:
      ChallengeMethod:
        type: integer
  SigningDocument:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=Resources
    type: object
    properties:
      DocumentURL:
        type: string
      DocumentTitle:
        type: string
  Resources:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=Resources
    type: object
    properties:
      List:
        type: array
        items:
          $ref: '#/definitions/MobileResource'
      TimeStamp:
        type: string
  MobileResource:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=MobileResource
    type: object
    properties:
      Name:
        type: string
      ResourceValue:
        type: string
      Type:
        type: integer
  PushCredentials:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PushCredentials
    type: object
    properties:
      AppKey:
        type: string
      AppSecret:
        type: string
  SupportedLanguageResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=SupportedLanguageResponse
    type: object
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
      DisplayName:
        type: string
      IsRTL:
        type: boolean
      ISOCode:
        type: string
  TransactionDetails:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionDetails
    type: object
    properties:
      TransactionNumber:
        $ref: '#/definitions/LabelValuePair'
      TransactionDate:
        $ref: '#/definitions/LabelValuePair'
      AmountForeignCurrency:
        $ref: '#/definitions/LabelValuePair'
      TransactionAmount:
        $ref: '#/definitions/LabelValuePair'
      ExtraDetails:
        type: array
        items:
          $ref: '#/definitions/LabelValuePair'
  LabelValuePair:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=LabelValuePair
    type: object
    properties:
      Label:
        type: string
      Value:
        type: string
  PaymentMethodResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentMethodResponse
    type: object
    properties:
      MobileAccountId:
        type: integer
      Type:
        type: integer
      #NOTE: Seems explicit, and breaks Python generator at least
      #_PrimaryField:
      #  type: string
      PrimaryField:
        type: string
      SecondaryField:
        type: string
      DisplayNameResource:
        type: string
      UseSecondaryField:
        type: boolean
      Status:
        type: integer
      Currency:
        type: string
      Balance:
        $ref: '#/definitions/PaymentMethodBalance'
      StatusCategory:
        type: integer
      AllowTransactions:
        type: boolean
  TransactionHeaderResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=TransactionHeaderResponse
    type: object
    properties:
      TransactionId:
        type: string
      Date:
        type: string
      Description:
        type: string
      Amount:
        type: string
      TransactionStatusCategory:
        type: integer
  PaymentHeaderResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentHeaderResponse
    type: object
    properties:
      PaymentId:
        type: string
      Date:
        type: string
      Loader:
        type: string
      Amount:
        type: string
      PaymentStatusCategory:
        type: integer
  DeviceId:
    type: string
    pattern: '[0-9a-f]{32}'
  MobileAppId:
    type: integer
    description: 1 means iOS, 2 means Android.
    enum:
      - 1
      - 2
  AppVersion:
    type: string
    default: 3.33.1
  LanguageCode:
    type: integer
    description: 1 means ENG.
  Currency:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=Currency
    type: object
    properties:
      Code:
        type: string
      Display:
        type: string
      Location:
        type: integer
  BillingAddress:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=BillingAddress
    type: object
    properties:
      Address1:
        type: string
      Address2:
        type: string
      City:
        type: string
      Zip:
        type: string
      State:
        type: string
      Country:
        type: string
      Phone:
        type: string
  PaymentMethodBalance:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=PaymentMethodBalance
    type: object
    properties:
      QuoteResponseCode:
        type: integer
      QuoteResponseDescription:
        type: string
      Currency:
        type: string
      CardBalance:
        type: string
      AccountBalance:
        type: string
      LastProcessed:
        type: string
  DeviceProperties:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=DeviceProperties
    type: object
    properties:
      DevicePrint:
        type: string
      DeviceToken:
        type: string
      DeviceTokenFSO:
        type: string
      HttpAccept:
        type: string
      HttpAcceptEncoding:
        type: string
      HttpAcceptLanguage:
        type: string
      HttpReferer:
        type: string
  AccountPermission:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=AccountPermission
    type: object
    properties:
      PerId:
        type: integer
      PerVal:
        type: boolean
  ChallengeResponse:
    externalDocs:
      url: https://mobileapi.payoneer.com/Help/ResourceModel?modelName=ChallengeResponse
    type: object
    properties:
      ChallengeMethod:
        type: integer
      IsLastAttempt:
        type: boolean
  UserSettings:
    type: object
    additionalProperties:
      type: string
